{
  "containers": {
    "dns01": {
      "ctid": 21000,
      "app": "technitiumdns",
      "cpu": 2,
      "ram": 2048,
      "disk": 10,
      "bridge": "vmbr0",
      "ip_cidr": "192.168.30.10/24",
      "gateway": "192.168.30.1",
      "vlan": 30,
      "mac_address": "BC:24:11:30:00:10",
      "password_key": "HOMELAB_LXC_ROOT_PASSWORD",
      "tags": "dns;technitium;production",
      "gpu": "no",
      "unprivileged": 1,
      "nesting": 1,
      "diagnostics": "no",
      "tun": "no",
      "keyctl": 0,
      "mount_fs": "nfs,cifs",
      "timezone": "Pacific/Auckland"
    },
    "dns02": {
      "ctid": 21001,
      "app": "technitiumdns",
      "cpu": 2,
      "ram": 2048,
      "disk": 10,
      "bridge": "vmbr0",
      "ip_cidr": "192.168.30.11/24",
      "gateway": "192.168.30.1",
      "vlan": 30,
      "mac_address": "BC:24:11:30:00:11",
      "password_key": "HOMELAB_LXC_ROOT_PASSWORD",
      "tags": "dns;technitium;production",
      "gpu": "no",
      "unprivileged": 1,
      "nesting": 1,
      "diagnostics": "no",
      "tun": "no",
      "keyctl": 0,
      "mount_fs": "nfs,cifs",
      "timezone": "Pacific/Auckland"
    },
    "plex01": {
      "ctid": 21010,
      "app": "plex",
      "cpu": 4,
      "ram": 4096,
      "disk": 50,
      "bridge": "vmbr0",
      "ip_cidr": "192.168.30.30/24",
      "gateway": "192.168.30.1",
      "vlan": 30,
      "mac_address": "BC:24:11:30:00:30",
      "password_key": "HOMELAB_LXC_ROOT_PASSWORD",
      "tags": "media;plex;production",
      "gpu": "yes",
      "unprivileged": 0,
      "nesting": 1,
      "diagnostics": "no",
      "tun": "no",
      "keyctl": 0,
      "mount_fs": "nfs,cifs",
      "timezone": "Pacific/Auckland"
    },
    "plex02": {
      "ctid": 21011,
      "app": "plex",
      "cpu": 4,
      "ram": 4096,
      "disk": 50,
      "bridge": "vmbr0",
      "ip_cidr": "192.168.30.31/24",
      "gateway": "192.168.30.1",
      "vlan": 30,
      "mac_address": "BC:24:11:30:00:31",
      "password_key": "HOMELAB_LXC_ROOT_PASSWORD",
      "tags": "media;plex;production",
      "gpu": "yes",
      "unprivileged": 0,
      "nesting": 1,
      "diagnostics": "no",
      "tun": "no",
      "keyctl": 0,
      "mount_fs": "nfs,cifs",
      "timezone": "Pacific/Auckland"
    }
  }
}
